mixin button(label)
  button.button= label

mixin button-hovered(label)
  button.button.button_hovered= label

mixin button-empty(label)
  button.button.button_empty
    span.button__filler
    span.button__label= label

mixin button-empty-small(label)
  button.button.button_empty.button_small
    span.button__filler
    span.button__label= label

mixin button-empty-hovered(label)
  button.button.button_empty.button_hovered
    span.button__filler
    span.button__label= label

mixin button-small(label)
  button.button.button_small= label

mixin button-big(label)
  button.button.button_big= label
