include ~Components/h3/h3.pug

mixin text-field(id, label_name='default', placeholder='', value='')
  .text-field
    +h3
      label.text-field__label(for=id)= label_name
    input.text-field__input(
      id=id,
      type='text',
      placeholder=placeholder,
      value=value
    )

mixin text-field-focused(id, label_name='default', placeholder='', value='')
  .text-field
    +h3
      label.text-field__label(for=id)= label_name
    input.text-field__input.text-field__input_focused(
      id=id,
      type='text',
      placeholder=placeholder,
      value=value
    )
