mixin text-field(textField={})
  .text-field
    label.text-field__label(for=textField.id)= textField.label
    input.text-field__input(
      type='text',
      id=textField.id,
      placeholder=textField.placeholder,
      value=textField.value
    )

mixin text-field-focused(textField={})
  .text-field
    label.text-field__label(for=textField.id)= textField.label
    input.text-field__input.text-field__input_focused(
      type='text',
      id=textField.id,
      placeholder=textField.placeholder,
      value=textField.value
    )

mixin text-field-email(textField={})
  form.text-field
    label.text-field__label(for=textField.id)= textField.label
    .text-field__input-wrapper
      input.text-field__input.text-field__input_email(
        type='email',
        id=textField.id,
        placeholder=textField.placeholder,
        value=textField.value
      )
      button.text-field__subscription-button arrow_forward

mixin text-field-masked(textField={}, alias="date")
  - const inputmask = '"alias": ' + '"' + alias + '"';
  .text-field
    label.text-field__label(for=textField.id)= textField.label
    input.text-field__input(
      type='text',
      id=textField.id,
      value=textField.value,
      placeholder=textField.placeholder,
      data-inputmask=inputmask
    )
